<h3 class="ui bar ui-bar-a ui-corner-all h3">Edit Item</h3>
<div class="ui-body ui-body-a u-corner-al">
  <% if @currentUser.longitude %>
  <div id="hidden-long"><%= @currentUser.longitude %></div>
  <div id="hidden-lat"><%= @currentUser.latitude %></div>
  <% end %>
<%= render :partial => 'form' %>
</div>
